.quizCards {
  display: grid;
  grid-template-columns: 1fr;
}

.listTitle {
  text-align: center;
  font-size: 24px;
  font-family: var(---main-font);
  padding-top: 20px;
}

.quizCardContainer {
  border-left: 10px solid #4793af;
  border-bottom: 10px solid #4793af;
  width: 250px;
  margin: 20px auto;
  height: 200px;
  position: relative;
}

.quizCardImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.QuizCardTitle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  text-align: center;
  font-family: var(---main-font);
}

@media (min-width: 745px) {
  .quizCards {
    grid-template-columns: 1fr 1fr;
    width: 600px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .quizCards {
    grid-template-columns: repeat(3, 1fr);
    width: 900px;
  }
}

@media (min-width: 1500px) {
  .quizCards {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }

  .quizCardContainer {
    width: 350px;
    height: 300px;
  }

  .QuizCardTitle {
    font-size: 30px;
  }
}
