.completedContainer {
  text-align: center;
  padding: 150px 10px 0 10px;
  height: 100vh;
  font-family: var(---main-font);
  background-color: #ffc470;
}

.completedTitle {
  font-size: 24px;
  padding-bottom: 10px;
}

.completedScore {
  font-size: 20px;
  padding: 20px 0;
}

.completedText {
  font-size: 16px;
}

.buttonToHomepage {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  font-family: var(---main-font);
  font-size: 16px;
  margin-top: 20px;
  background-color: #8b322c;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttonToHomepage:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #dd5746;
}
